@import url(//use.typekit.net/ysa1ltb.js);


@tailwind base;
@tailwind components;
@tailwind utilities;



body {

    font-family: "aktiv-grotesk-std",sans-serif;
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    
    }

.logo-right, .logo-left {
    flex: 1;
}

.leftside {
    max-width: 640px;
}

.picbox {
    width: 45%;
}

.sidenav {
    position: -webkit-sticky; /* Safari & IE */
    position: sticky;
    top: 70;
}

.tagline {
    max-width: 280px;
}

